@import 'libs/bootstrap-reboot.min';
// @import 'libs/bootstrap-grid.min';
@import 'libs/fonts';

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 0;
}

.divider {
    margin: 0 auto;
    margin-top: 25px;
    @include yellow_divider;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@import 'blocks/menu';
@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/buttons';
@import 'blocks/sidepanel';
@import 'blocks/about';
@import 'blocks/resume';
@import 'blocks/skills';
@import 'blocks/portfolio';