.about {
    padding-top: 120px;
    min-height: 720px;
    &__wrapper {
        display: grid;
        grid-template-areas: "image text" "image skills"; 
        grid-template-columns: 400px 570px;
        grid-template-rows: minmax(245px, auto) minmax(255px, auto);
        grid-auto-rows: minmax(245px, auto);
        gap: 40px 70px;
    }
    &__photo {
        grid-area: image;
        img {
            width: 100%;
        }
    }
    &__text {
        padding-top: 6px;
        grid-area: text;
    }
    &__title {
        margin-top: 10px;
    } 
    &__divider {
        @include yellow_divider;
        margin-top: 0;
    }
    &__desc {
        margin-top: 20px;
        font-size: 14px;
        line-height: 21px;
    } 
    &__skills {
        grid-area: skills;
        display: grid;
        grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 260px);
        gap: 20px 50px; 
        grid-auto-rows: 115px;
        &-item {
            display: grid;
            grid-template: 27px minmax(80px, auto) / 40px 200px;
            column-gap: 20px; 
        }
        &-circle {
            grid-row: 1 / 3;
            position: relative;
            padding: 15px 0 0 15px;
            @include before_circle;
            &:before {
                top: 0;
            }
        }  
        &__desc {
            font-size: 12px;
            line-height: 18px;
        }
    }
}