@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
    .sidepanel {
        display: none;
    }
    .about {
        padding-top: 90px;
        &__wrapper {
            grid-template-columns: 400px 530px;
            gap: 30px 30px;
        }
        &__skills {
            grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 250px);
            gap: 20px 20px; 
            &-item {
                grid-template: 27px minmax(80px, auto) / 40px 180px;
            }
        }
    }
    .resume {
        padding-top: 90px;
        &__wrapper {
            padding: 50px 35px 0 35px;
            column-gap: 50px;
        }
    }
    .skills {
        padding-top: 90px;
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 270px);
            justify-content: center;
        }
        &__raitings {
            margin-top: 90px;
            grid-template: repeat(3, 70px) / repeat(2, 350px);
            justify-content: center;
            column-gap: 80px;
        }
    }
    .portfolio {
        padding-top: 90px;
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            justify-content: center;
            gap: 20px;
            .horizontal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .contacts {
        &__wrapper {
            padding: 0;
            grid-template-columns: 400px 530px;
            gap: 30px 30px;
        }
        &__form {
            grid-template-columns: repeat(2, 220px);
        }
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz16 {
            margin-bottom: 15px;
        }
        &_fz36 {
            font-size: 30px;
            line-height: 45px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    .divider {
        margin-top: 15px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
            gap: 30px 30px;
        }
        &__skills {
            grid-template: repeat(3, minmax(105px, auto)) / 360px;
            &-item {
                grid-template: 27px minmax(80px, auto) / 40px 320px;
            }
        }
    }
    .resume {
        &__wrapper {
            padding: 50px 0 0 0;
            column-gap: 30px;
            grid-template-columns: repeat(2, 340px);
        }
    }
    .skills {
        &__raitings {
            column-gap: 30px;
        }
    }
    .prices {
        &__wrapper {
            padding: 0 20px;
            grid-template-columns: repeat(auto-fit, 320px);
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__form {
            grid-template: 45px 185px 80px / repeat(2, 175px);
        }
        &__triggers {
            grid-template-columns: auto;
            row-gap: 10px;
        }
        &__btn {
            order: 1;
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
    .menu {
        &__link {
            &:hover {
                &:before {
                    background-color: $main-color;
                }
            }
            a {
                &:hover {
                    text-decoration: none;
                }
            }
        }
        &__social {
            a {
                &:hover {
                    svg path {
                        fill: #000;
                    }
                }
            } 
        }
    }
    .title {
        &_fz48 {
            font-size: 28px;
            line-height: 39px;
        }
    }
    .promo {
        &__title {
            width: 300px;
        }
        &__btns {
            width: 265px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 400px auto auto / 1fr;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 260px);
            &-item {
                grid-template: 27px minmax(80px, auto) / 40px 200px;
            }
        }
    }
    .resume {
        padding-top: 40px;
        &__wrapper {
            padding: 50px 25px 0 25px;
            grid-template-columns: 1fr;
            row-gap: 40px;
        }
    }
    .skills {
        padding-top: 40px;
        &__wrapper {
            margin-top: 40px;
        }
        &__raitings {
            margin-top: 40px;
            grid-template-columns: 350px;
        }
    }
    .portfolio {
        padding-top: 40px;
        &__wrapper {
            margin-top: 40px;
        }
    }
    .prices {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 340px);
            justify-content: center;
            margin-top: 40px;  
        }
    }
    .contacts {
        padding: 40px 0;
        &__wrapper {
            grid-template: 400px auto/ 1fr;
        }
        &__photo {
            display: none;
        }
        &__divider {
            margin-top: 15px;
        }
        &__form {
            grid-template: 45px 145px 45px / repeat(2, 250px);
        }
        &__triggers {
            grid-template-columns: repeat(2, auto);
        }
        &__btn {
            width: 250px;
            order: 0;
        }
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
        &_fz36 {
            font-size: 24px;
            line-height: 36px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 57%/cover;
        &__btns {
            margin-top: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
            justify-self: center;
        }
    }
    .resume {
        &__wrapper {
            padding: 40px 0 0 0;
        }
    }
    .skills {
        &__raitings {
            grid-template-columns: 300px;
            &-line {
                width: 300px;
            }
        }
    }
    .prices {
        &__wrapper {
            padding: 0 0 0 25px;
            row-gap: 20px;
            grid-template-columns: repeat(auto-fit, 280px);
        }
    }
    .contacts {
        &__form {
            grid-template: 45px 45px 185px 95px 20px / 1fr;
            gap: 25px;
        }
        &__textarea {
            grid-column: 1;
        }
        &__triggers {
            grid-column: 1;
            grid-template-columns: 1fr;
        }
        &__policy {
            width: 180px;
            margin: 0 auto;
        }
        &__btn {
            order: 1;
            width: 210px;
            margin: 0 auto;
        }
    }
}