.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    color: #000000;
    &_fz14 {
        font-size: 14px;
        line-height: 21px;
    }
    &_fz16 {
        font-size: 16px;
        line-height: 24px;
    }
    &_fz20 {
        font-size: 20px;
        line-height: 30px;
    }
    &_fz36 {
        font-size: 36px;
    }
    &_fz48 {
        font-size: 48px;
    }
    &_circle {
        position: relative;
        z-index: 2;
        padding-left: 12px;
        padding-top: 1px;
        @include before_circle;
        &-mid {
            display: block;
            text-align: center;
            padding-left: 0;
            &:before {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}